<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <h1>Appointments</h1>

    <div>
        <a th:href="@{/appointments/new}">Create new appointment</a>
    </div>

    <div>
        <ul>
            <li th:each="appointment : ${appointmentList}">
                <a th:href="@{'/appointments/' + ${appointment.id}}" th:text="${appointment.name}">Appointment #1</a>
            </li>
        </ul>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>