<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <h1>View appointment</h1>

    <div>
        <div th:text="'Name: ' + ${appointment.name}">Appointment #1</div>
        <div th:text="'Resource: ' + ${appointment.resource}">Resource #1</div>
        <div th:text="'Host: ' + ${appointment.host}">John Smith</div>
        <div th:text="'Start Time: ' + ${appointment.startTime}">6/5/2018 14:00</div>
        <div th:text="'Duration: ' + ${appointment.duration}">1:00</div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>