<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <h1>Create an appointment</h1>

    <div>
        <form th:action="@{/appointments/new}" th:object="${appointment}" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/><br/>

            <label for="resource">Resource</label>
            <select th:field="*{resource}" id="resource">
                <option th:each="resource : ${allResources}"
                        th:value="${resource.id}"
                        th:text="${resource.name}">Resource 1</option>
            </select><br/>

            <label for="host">Host</label>
            <input type="text" id="host" th:field="*{host}"/><br/>

            <label for="startTime">Start Time</label>
            <input type="datetime-local" id="startTime" th:field="*{startTime}"/><br/>

            <label for="duration">Duration</label>
            <input type="time" id="duration" th:field="*{duration}"/><br/>

            <input type="submit" value="Create">
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>