<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <div>
            <a th:href="@{#}">Login</a>
            <a th:href="@{#}">Register</a>
        </div>
        <div>
            <a th:href="@{#}">My profile</a>
            <a th:href="@{#}">Logout</a>
        </div>
    </div>

    <h1>Welcome to Booking App!</h1>

    <div th:replace="fragments/footer :: footer">
        Footer placeholder
    </div>
</body>
</html>