<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <form th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>

            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/><br/>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/><br/>

            <button type="submit">Sign in</button>
        </fieldset>
    </form>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>