<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <h1>Your profile</h1>

    <div class="profileView">
        <div class="username" th:text="'Username: ' + ${person.username}">jsmith</div>
        <div class="fullName" th:text="'Full Name: ' + ${person}">John Smith</div>
        <br/>
        <div>
            <a href="/resources">Resources</a>
        </div>
        <div>
            <a href="/appointments">Appointments</a>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>