<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <h1>Register</h1>

    <form th:action="@{/profile/new}" th:object="${person}" method="post">
        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect</li>
            </ul>
        </div>

        <label for="firstName" th:class="${#fields.hasErrors('firstName')} ? 'error'">First Name</label>
        <input type="text" id="firstName" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')} ? 'error'"/><br/>

        <label for="lastName" th:class="${#fields.hasErrors('lastName')} ? 'error'">Last Name</label>
        <input type="text" id="lastName" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')} ? 'error'"/><br/>

        <label for="username" th:class="${#fields.hasErrors('username')} ? 'error'">Username</label>
        <input type="text" id="username" th:field="*{username}" th:class="${#fields.hasErrors('username')} ? 'error'"/><br/>

        <label for="password" th:class="${#fields.hasErrors('password')} ? 'error'">Password</label>
        <input type="password" id="password" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'error'"/><br/>

        <input type="submit" value="Register">
    </form>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>