<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <h1>View resource</h1>

    <div>
        <div th:text="'Name: ' + ${resource.name}">Resource #1</div>
        <div th:text="'Occupancy: ' + ${resource.occupancy}">10</div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>