<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <h1>Resources</h1>
    <ul>
        <li th:each="resource : ${resourceList}">
            <a th:href="@{'/resources/' + ${resource.id}}" th:text="${resource.name} + ' (' + ${resource.occupancy} + ')'">Resource #1</a>
        </li>
    </ul>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>