<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>s
</head>
<body>
<div th:fragment="footer">
    <br/>
    &copy; Booking App 2018
</div>
</div>
</body>
</html>