<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>s
</head>
<body>
    <div th:fragment="header">
        <div>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/profile/new}">Register</a>
        </div>
        <div>
            <a th:href="@{/profile/me}">My profile</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</body>
</html>